
*.o
*.ncb
*.suo
*.manifest
*.pdb
*.ncb
*.user
*.idb
*.ilk
*.swp
*.sdf
*.opensdf
*.ipch
*.cu.deps

Buildlog.*

Debug/
Release/

Thumbs.db
*.manifest.res

dump

UpgradeLog.XML
UpgradeLog.htm
_UpgradeReport_Files/

BodyBasics-D2D/